@media screen and (max-width:576px){
    .nav-main{
        flex-direction: column;
    }
    .nav-right{
        flex-direction: column; 
    }
    .nav-right button{
      margin-top: 10px;
    }
    .nav-container{
        box-shadow: none;
    }
    /* header section */
    .header-container{
        margin-top: 20px;
    }
    .header-main{
        flex-direction: column-reverse;
        width: 100%;
    }
    .header-left{
        width: 80%;
        margin-top: 30px;
    }
    .header-right{
        width: 80%;
        margin-top: 20px;
    }
    /* gamer section */
    .gamer-container{
        margin-top: 20px;
    }
    .gamer-main{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .gamer-left{
      width: 100%;
    }
    .gamer-right{
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
    /* onli game section */
    .online-text{
        width:100%;
        font-size: 13px;
        margin-top: 40px;
    }
    .online-main{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    }
}